.gym {
  margin-top: 120px;

  @include vp-1199 {
    margin-top: 100px;
  }

  @include vp-767 {
    margin-top: 64px;
  }
}

.gym h2 {
  font-size: 48px;
  line-height: 58px;
  margin-top: 38px;
  margin-bottom: 10px;

  @include vp-1199 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 50px;
    padding-right: 15px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 5px;
  }
}

.gym__text {
  max-width: 414px;
  padding-left: 59px;

  @include vp-1199 {
    max-width: none;
    text-align: center;
    padding: 0 80px;
  }

  @include vp-767 {
    padding: 0 15px;
    text-align: left;
  }
}

.gym__title p {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 27px;
  font-size: 18px;
}

.gym__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  p {
    margin-bottom: 8px;
    margin-top: 0;
  }

  @include vp-767 {
    padding-right: 34px;
  }
}

.gym__description p:not(:first-child) {
  @include vp-1199 {
    display: none;
  }
}

.gym__title {
  margin-bottom: 37px;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.gym__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @include vp-1199 {
    flex-direction: column;
    gap: 36px;
  }

  @include vp-767 {
    gap: 25px;
  }
}

.gym__static-image {
  max-width: 660px;

  @include vp-1199 {
    max-width: 678px;
  }

  @include vp-767 {
    max-width: 320px;
  }

  img {
    @include vp-1199 {
      width: 100%;
    }
  }
}

.gym img {
  background-color: $color-sapphire;
}

.gym__image {
  position: relative;
  padding-right: 3px;

  @include vp-1199 {
    padding-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.gym__video {
  display: block;
  max-width: 364px;
  aspect-ratio: 364 / 228;
  transform: translateY(-50%) translateX(-16.5%);
  background-color: $color-hawkes-blue-light;

  @include vp-1199 {
    width: 39.2%;
    aspect-ratio: 266 / 167;
    transform: translateY(-50%) translateX(0%);
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
    margin-top: 7px;
    aspect-ratio: 320 / 167;
    transform: translate(0, 0);
    margin-top: 40px;
  }
}

.gym__video-cover {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;

  &.hidden {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-dark-cerulean-video;
    opacity: 0.5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $color-hawkes-blue-light;
  }
}

.gym__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background: $video-button;
  cursor: pointer;

  transform: translate(-50%, -50%);

  svg {
    transform: translateX(2px);
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    svg {
      width: 12px;
      height: 12px;
      transform: translateX(1px);
    }
  }

  @include vp-767 {
    svg {
      transform: translateX(3px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: $video-button-ring;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.2;
    mask: radial-gradient(47px, $color-transparent 98%, $color-default-black);

    transform: translate(-50%, -50%);

    @include vp-1199 {
      width: 73px;
      height: 73px;
      mask: radial-gradient(35px, $color-transparent 98%, $color-default-black);
    }
  }

  @include hover-focus {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.gym__video-yt {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.gym .container {
  @include vp-767 {
    padding: 0;
  }
}
